<strong>Ola, {{ student_name }}</strong>
<p>
  Seja bem vindo ao GymPoint, segue suas informações:
</p>
<ul>
  <li><strong>Nome:</strong>{{ student_name }}</li>
  <li><strong>E-Mail:</strong>{{ student_email }}</li>
  <li><strong>Plano:</strong>{{ plan_title}}</li>
  <li><strong>Duração:</strong>{{ plan_duration }}</li>
  <li><strong>Data de termino:</strong> {{ plan_end }} </li>
  <li><strong>Valor total:</strong>{{ total_price }}</li>
</ul>
<p>
  Estamos animados para acompanhar seu progresso, equipe GymPoint.
</p>
